@use "./colors";
@use "./header";
@use "./headerimage";
@use "./maintext";
@use "./paymentoptions";
@use "./plan";

* {
  font-family: "Red Hat Display", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.main-page {
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
